{{> welcome-menu}}

<section class="section" style="background-color: #f0f0f0; min-height: 100vh;">
<h1 class="title is-1 has-text-centered">Weathertop</h1>
<img src="/images/lightning.png" alt="Lightning Image" style="display: block; margin-left: auto; margin-right: auto; width: 550px;">

  <p class="has-text-centered" style="font-weight: bold; color: black; font-size: 1.5rem; margin-top: 1rem;">
    Sign up or Log in to Weathertop
  </p>
</section>

